<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
        name="iisnode"
        path="dist/server.js"
        verb="*"
        modules="iisnode"
      />
    </handlers>
    <rewrite>
      <rules>
        <rule name="TinoService" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <iisnode nodeProcessCommandLine="node" />
  </system.webServer>
</configuration>
